name: Windows Workflow

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-debug:
    uses: ./.github/workflows/windows-build-template.yml
    with:
      config: Debug
      artifact-name: build-debug

  build-release:
    uses: ./.github/workflows/windows-build-template.yml
    with:
      config: Release
      artifact-name: build-release

  test-debug:
    needs: build-debug
    runs-on: windows-2022
    timeout-minutes: 10
    steps:
      - name: Download artifact
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093
        with:
          name: build-debug
          path: GaloisFieldHillCipher/build

      - name: Verify Artifact Checksums
        shell: pwsh
        run: |
          $checksumFile = "GaloisFieldHillCipher/build/checksums.sha256"
          Get-Content $checksumFile | ForEach-Object {
            $expectedHash, $fileName = $_ -split '\s+' | Where-Object { $_ }
            
            Write-Host "Verifying file: $fileName"
            $actualHash = (Get-FileHash -Algorithm SHA256 "GaloisFieldHillCipher/build/$fileName").Hash
            
            if ($actualHash -ne $expectedHash) {
              Write-Error "CHECKSUM MISMATCH for $fileName! Expected '$expectedHash' but got '$actualHash'."
              exit 1
            } else {
              Write-Host "Checksum for $fileName is valid."
            }
          }
          Write-Host "All checksums verified successfully."

      - name: Run tests
        run: GaloisFieldHillCipher/build/Debug/UnitTests.exe

  test-release:
    needs: build-release
    runs-on: windows-2022
    timeout-minutes: 10
    steps:
      - name: Download artifact
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093
        with:
          name: build-release
          path: GaloisFieldHillCipher/build

      - name: Verify Artifact Checksums
        shell: pwsh
        run: |
          $checksumFile = "GaloisFieldHillCipher/build/checksums.sha256"
          Get-Content $checksumFile | ForEach-Object {
            $expectedHash, $fileName = $_ -split '\s+' | Where-Object { $_ }
            
            Write-Host "Verifying file: $fileName"
            $actualHash = (Get-FileHash -Algorithm SHA256 "GaloisFieldHillCipher/build/$fileName").Hash
            
            if ($actualHash -ne $expectedHash) {
              Write-Error "CHECKSUM MISMATCH for $fileName! Expected '$expectedHash' but got '$actualHash'."
              exit 1
            } else {
              Write-Host "Checksum for $fileName is valid."
            }
          }
          Write-Host "All checksums verified successfully."

      - name: Run tests
        run: GaloisFieldHillCipher/build/Release/UnitTests.exe
