name: windows-build-template

on:
  workflow_call:
    inputs:
      config:
        required: true
        type: string
      artifact-name:
        required: true
        type: string
    outputs:
      executable_checksum:
        description: "SHA256 checksum for the GaloisFieldHillCipher binary"
        value: ${{ jobs.build.outputs.executable_checksum }}
      unittest_checksum:
        description: "SHA256 checksum for the UnitTests binary"
        value: ${{ jobs.build.outputs.unittest_checksum }}

jobs:
  build-windows:
    runs-on: windows-2022
    steps:
      - name: Checkout repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955
        with:
          submodules: recursive

      - name: Configure with CMake
        run: cmake -S GaloisFieldHillCipher -B GaloisFieldHillCipher/build -DCMAKE_BUILD_TYPE=${{ inputs.config }}

      - name: Build with CMake
        run: cmake --build GaloisFieldHillCipher/build --config ${{ inputs.config }}

      - name: Calculate build checksums
        shell: pwsh
        run: |
          $buildPath = "GaloisFieldHillCipher/build/${{ inputs.config }}"
          cd $buildPath
          $executable_checksum = ((Get-FileHash -Algorithm SHA256 GaloisFieldHillCipher.exe).Hash).Trim().ToLower()
          $unittest_hash = ((Get-FileHash -Algorithm SHA256 UnitTests.exe).Hash).Trim().ToLower()
          echo "executable_checksum=$executable_checksum" >> $env:GITHUB_OUTPUT
          echo "unittest_checksum=$unittest_hash" >> $env:GITHUB_OUTPUT

      - name: Upload build results
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        with:
          name: ${{ inputs.artifact-name }}
          path: |
            GaloisFieldHillCipher/build/${{ inputs.config }}/UnitTests.exe
            GaloisFieldHillCipher/build/${{ inputs.config }}/GaloisFieldHillCipher.exe
